html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

iframe {display:inline-block; border:0;}
button {margin:0; padding:0;}

.a-l {text-align:left !important;}
.a-r {margin:30px 0 0 auto;}

button[disabled] {background-color:#ccc !important; cursor:default;}

button {cursor:pointer;}
button.small {min-width:auto;}

button.black {color:#fff; background-color:#000;}
button.yellow {background-color:#ffd600;}
button.white {color:#000; background-color:#fff; border:1px solid #bdbdbd;}
button.border {border:1px solid #f2f2f2; border-radius:10px;}
button.icon {display:flex; align-items:center;}
.btn-comment {overflow:hidden; display:inline-block; width:24px; height:24px; margin:-1px 0 0 0; padding:0; font-size:1px; text-indent:-9999px; line-height:0; vertical-align:middle; background-position:center; background-repeat:no-repeat; background-size:24px auto; border:none; background-color:#fff;}
.btn-update {margin-right:10px; background-image:url('/images/btn-update.png');}
.btn-delete {background-image:url('/images/btn-delete.png');}

/* input */
input[readonly] {background-color:#e1dddd}

/* table reset */
table {width:100%; margin:0; border:0; table-layout:fixed; border-collapse:collapse; empty-cells:show;}
table caption {overflow:hidden; position:absolute; width:1px; height:1px; margin:-1px; border:0; padding:0; clip:rect(0 0 0 0); clip-path:inset(50%); white-space:nowrap; text-indent:-9999px;}
table th,
table td {padding:0; word-break:break-all;}
.ellipsis {overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

/* icon */
.iconset {display:inline-block;}
.ico-comment {width:24px; height:24px; background:url('/images/ico-comment.png') no-repeat center; background-size:24px auto;}